.order-list {
    width: 100%;
}

.no-order {
    text-align: center;
    padding: 150px 0;
    color: #656565;
    font-size: 30px;
    font-weight: 300;
}

.order-list-content {
    display: grid;
    grid-template-areas:
        "meta meta meta"
        "prod status actions";
    grid-template-columns: 2fr 0.75fr 0.75fr;
    gap: 0;
}

.order-list-content+.order-list-content {
    border-top: 1px solid #000000;
    margin-top: 60px;
    padding-top: 24px;
}

.order-list-basic-data {
    grid-area: meta;
    padding: 12px 0 8px;
}

.order-date {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 6px;
    color: #000000;
}

.recipent-info {
    display: flex;
    gap: 10px;
}

.recipient {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
}

.recipient-name {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.order-list-product-area,
.order-list-status-area,
.order-list-button-area {
    padding: 16px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

/* 좌우 세로선(열 사이) */
.order-list-status-area,
.order-list-button-area {
    border-left: 1px solid #E3E3E3;
}

.order-list-product-area {
    grid-area: prod;
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 330px;
}

.order-list-status-area {
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 76px;
}

.order-list-button-area {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 154px;
}

.product-image {
    width: 156px;
    height: 186px;
    object-fit: cover;
    border-radius: 6px;
}

.product-brand {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.product-name {
    color: #000000;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 400;
}

.product-quantity {
    font-size: 14px;
    color: #656565;
    font-weight: 300;
}

.product-price {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-top: 6px;
}

.delivery-status {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    line-height: 1.4;
    word-break: keep-all;
    white-space: normal;
}

.review-btn,
.pay-btn {
    background: #D6D9E8;
    border: none;
    padding: 10px 20%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

.review-btn:hover,
.pay-btn:hover {
    background: #d6dbf4;
}

/* Pagination 스타일 */
.order-list .MuiPagination-root {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.order-list .MuiPagination-ul {
    gap: 6px;
}

.order-list .MuiPaginationItem-root {
    font-size: 14px;
    color: #333;
    border-radius: 50%;
    min-width: 36px;
    height: 36px;
}

.order-list .MuiPaginationItem-root.Mui-selected {
    background-color: #E6E6E6;
    color: #000000;
    font-weight: 500;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.order-list .MuiPaginationItem-root:hover {
    background-color: #f0f0f0;
}

/* 모바일 */
@media (max-width: 768px) {
    .order-list-content {
        display: block;
    }

    .order-list .MuiPagination-ul {
        gap: 4px;
    }

    .order-mobile-layout {
        display: flex;
        flex-direction: column;
    }

    .delivery-status-mobile {
        display: block;
        background: #D6D9E8;
        width: 100%;
        border: none;
        padding: 12px 24px;
        border-radius: 10px;
        color: #153085;
        font-size: 18px;
        font-weight: 500;
    }

    .order-product-mobile {
        display: grid;
        grid-template-columns: 156px minmax(0, 1fr);
        grid-template-areas:
            "img pay"
            "img info"
            "img review";
        column-gap: 4px;
        row-gap: 2px;
        align-items: start;
        width: 100%;
    }

    .order-product-mobile .product-image {
        grid-area: img;
        align-self: center;
        margin-left: 4px;
    }

    .order-product-mobile .order-product-info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .pay-btn-area {
        display: flex;
        grid-area: pay;
        justify-self: end;
        align-self: start;
    }

    .pay-btn-mobile {
        background: transparent;
        border: none;
        padding: 0;
        font-size: 14px;
        color: #000000;
        cursor: pointer;
    }

    .pay-chev-icon {
        width: 20px;
        height: 20px;
        color: #000000;
    }

    .pay-btn-mobile:hover,
    .pay-chev-icon:hover {
        color: #1e40af;
    }

    .review-btn-mobile {
        grid-area: review;
        justify-self: end;
        background: #EBEBEB;
        border: none;
        padding: 10px 24px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        width: 120px;
    }

    .review-btn-mobile:hover {
        background: #e3e3e3;
    }

    .order-mobile-layout .recipent-info .recipient,
    .recipient-name {
        margin: 2px;
    }

    .order-product-mobile .product-brand {
        margin: 4px;
    }

    .order-product-mobile .product-name {
        margin: 4px;
    }

    .order-product-mobile .product-quantity {
        margin: 4px;
    }

    .order-product-mobile .product-price {
        margin: 4px;
    }
}