.comboBox-section {
    width: 100%;
}

.comboBox {
    border: 1px solid red;
    color: red;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    position: relative;
}

.comboBox-arrow {
    margin-left: 50px;
}

.comboBox-option {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 37px;
    left: -1px;
    right: -1px;
    border: 1px solid red;
    border-top: none;
    max-height: 300px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    background-color: #fff;
}

.comboBox-option li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate
}

.comboBox-option a {
    display: block;
    padding: 14px;
    font-size: 14px;
    color: #222;
    line-height: 18px;
    letter-spacing: -0.87px;
    border-top: 1px solid #ececec;
    text-decoration: none;
}

.comboBox-header {
    display: flex;
    align-items: center;
}

.comboBox-header span{
    width: 100px;
}

.comboBox-header svg {
    transition: transform 0.2s ease-in-out; 
}

.rotate-180 {
    transform: rotate(180deg);
}

.comboBox-header-option {
    display: flex;
    flex-direction: column;
}

.comboBox-option-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .comboBox {
        border: 1px solid red;
        color: red;
        padding: 5px 20px;
        font-weight: 700;
        font-size: 24px;
        display: flex;
        position: relative;
        margin: 0px 10px;
    }

    .comboBox-option {
        overflow: hidden;
        position: absolute;
        z-index: 2;
        top: 37px;
        left: -1px;
        right: -1px;
        border: 1px solid red;
        border-top: none;
        max-height: 160px;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        background-color: #fff;
    }
}

@media (max-width: 480px) {
    .comboBox {
        border: 1px solid red;
        color: red;
        padding: 5px 20px;
        font-weight: 700;
        font-size: 24px;
        display: flex;
        position: relative;
        margin: 0px 10px;
    }

    .comboBox-option {
        overflow: hidden;
        position: absolute;
        z-index: 2;
        top: 37px;
        left: -1px;
        right: -1px;
        border: 1px solid red;
        border-top: none;
        max-height: 160px;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        background-color: #fff;
    }
}