 /* 사이드바 스타일 */
 .sidebar {
    width: 280px;
    border-right: 1px solid #e5e7eb;
  }
  
  .user-profile-true {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 22px;
    margin: 18px;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .profile-avatar {
    height: 48px;
    width: 48px;
    background-color: #e5e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar-fallback {
    color: #9ca3af;
    background-color: #e5e7eb;
  }
  
  .avatar-icon {
    height: 24px;
    width: 24px;
  }
  
  .username {
    font-weight: 500;
    color: #1f2937;
    margin: 0 0 4px 0;
  }
  
  .user-type {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
  }

  .user-profile-false {
    background-color: #F5F5F5;
    padding: 16px;
    margin-bottom: 18px;
  }

  .category {
    font-weight: 500;
    font-size: 23px;
    color: #000000;
    margin: 28px;
    text-align: center;
  }
  
  /* 사이드바 네비게이션 */
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }
  
  .nav-item {
    display: flex;
    justify-content: space-between;
    color: #1f2937;
    cursor: pointer;
    margin: 0px 20px;
    flex-direction: column;
  }

  .nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: #1f2937;
    padding: 18px 0;
  }
  
  .nav-item svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.5;
  }

  .sub-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 6px 0 10px 22px;
}

  .sub-item {
    padding: 6px 0;
}
  
.nav-row:hover .nav-title,
.sub-item:hover .sub-title {
  color: #1e40af;
}
  
   /* 반응형 디자인 */
   @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e5e7eb;
    }
  }