/* 찜목록 */
.wish-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.wish-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wish-content {
    display: flex;
    gap: 16px;
    flex: 0 0 calc(50% - 10px);
}

.product-image {
    width: 142px;
    height: 170px;
    object-fit: cover;
    border-radius: 4px;
}

.wish-details {
    flex: 1;
    min-width: 140px;
}

.product-info {
    margin-bottom: 55px;
}

.heart-row {
    display: flex;
    justify-content: space-between;
}

.brand-name {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 4px 0;
}

.heart-icon {
    color: #f31110;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.product-name {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 8px 0;
}

.seller-content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.seller-avatar {
    height: 26px;
    width: 26px;
    background-color: #e5e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-fallback {
    color: #9ca3af;
    background-color: #e5e7eb;
}

.seller-avatar-icon {
    height: 14px;
    width: 14px;
}

.seller-name {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 4px 0;
}

.price {
    font-size: 16px;
    color: #000000;
    margin: 10px 0 4px 0;
    font-weight: 600;
}

.more-area {
    display: flex;
    justify-content: center;
}

.more-button {
    border: 1px solid #153085;
    border-radius: 5px;
    width: 540px;
    height: 40px;
    background-color: #ffffff;
}