.image-container {
    height: 100%;
}

.product-container {
    /* height: 1020px; */
    padding: 1% 10%;
}

.sale-container {

}

.member-boon-container {
    /* height: 550px; */
    height: auto;
    font-size: 0;
}

.review-container {
    padding: 10px 120px;
    height: 550px;
    background-image: linear-gradient(to bottom, #0E1F5B 66%, white 33%, white 33%, white 33%);
}

.image-container img {
    /* width: 100%; 
    height: 100%;
    object-fit: cover; */
    width: 100%;
    height: auto; 
    display: block; /* 이미지 아래 기본 공백(baseline) 제거 */
}

.title-font {
    font-size: 32px;
    font-weight: 600;
}

.review-title-font {
    color: white;
    font-size: 64px;
    font-weight: 600;
}

.main-container {
    min-width: 400px !important;
}

.product-grid-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 15px; 
    width: 100%;
}

.product-card {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.product-image-container {
    width: 100%;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    border-radius: 12px;
}

.product-image-container img {
    width: 100%;  
    height: 100%;
    object-fit: cover; 
}

.review-grid-main {
    display: flex;
}

.slick-slider, .slick-list, .slick-slide > div {
    height: 100%;
}

.slick-track {
    height: 90% !important;
}

.review-section-main {
    display: flex !important;
}

.review-container .slick-slide {
    padding: 0 10px;
}

/* 반응형 1250px */
@media (max-width: 1250px) {
    .product-grid-main {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 반응형 768px */
@media (max-width: 768px) {
    .main-layout-main {
        flex-direction: column;
    }
}