.image-container {
    height: 500px;
}

.product-container {
    height: 1020px;
    padding: 10px 120px;
}

.sale-container {

}

.member-boon-container {
    height: 550px;
}

.review-container {
    height: 550px;
}

.image-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.title-font {
    font-size: 32px;
    font-weight: 600;
}