* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: left;
}

.message {
  display: flex;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.1);;
  width: 20%;           
  aspect-ratio: 1 / 1; 
  min-width: 80px;     
  max-width: 100px;    
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px; 
  background-color: white;
  cursor: pointer;         
  transition: all 0.3s;   
  z-index: 999;     
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s;      
}

.top-button:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
}

.message svg {
  width: 55%;
  height: 55%;
  color: #333;
  animation: fadeIn 0.3s ease-in-out;
}

.message:active {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from { opacity: 0; transform: rotate(-45deg); }
  to { opacity: 1; transform: rotate(0); }
}